.div{
	width: 200px;
	height: 160px;
	margin: 0px;
	display: flex;
	flex-wrap:wrap;
}

.div1{
	width: 38px;
	height: 38px;
	border: 1px solid black;
    left: 0px;
	top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horse{
    width: 38px;
    height: 38px;
    background-color:brown;
    border-radius: 100px;
    position: absolute;
    visibility: hidden;
    }